@mixin flex ($just: center, $align: center, $dir: row, $wrap: nowrap){
  display: flex;
  justify-content : $just;
  align-items: $align;
  flex-direction: $dir;
  flex-wrap: $wrap;
}

@mixin glass{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -apple-backdrop-filter: blur(20px);
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @-moz-document url-prefix(){
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@mixin glass2{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -apple-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @-moz-document url-prefix(){
    background-color: rgba(255, 255, 255, 0.8);
  }
}